[Desktop Entry]
Name=Fedora Translation Status
Name[sv]=Översättningsstatus för Fedora
Comment=View Fedora translation progress via Weblate
Exec=fedora-l10n
Icon=se.danielnylander.fedora-l10n
Terminal=false
Type=Application
StartupWMClass=se.danielnylander.fedora-l10n
Categories=Development;Translation;
Keywords=translation;fedora;weblate;l10n;i18n;
